html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
}

:root {
    --left-container-width: 400px;
}

#map {
    height: 100%;
}

.button-container {
    position: absolute;
    top: 0;
    width: 100px;
    height: 100px;
    z-index: 1000;
    right: var(--left-container-width); /* -ve of this? */
}

.quakes_info {
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    width: var(--left-container-width);
    z-index: 1000;
}

.toast {
    position: relative;
}

.alert {
    opacity: 0.8;
}

/* add daisy ui css */

